* {
  padding: 0;
  margin: 0;
}

header {
  background-color: red;
  color: white;
  align-items: center;
}

.nav-name {
  font-family: open serif;
  font-size: 30px;
}

.nav-bar {
  display: flex;
  padding: 10px;
}

.nav-ul {
  display: flex;
}

.nav-li {
  border-right: 1px solid white;
  list-style: none;
  padding: 10px;
}

body {
  background-image: url("https://img.freepik.com/free-photo/wooden-background_24972-623.jpg");
  width: 60%;
  margin: auto;
}

.content {
  background-color: red;
}

.content img {
  width: 100%;
  height: 200px;
}

.judul {
  display: flex;
  justify-content: space-between;
}

.caption {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.button {
  align-content: center;
}

.button-ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.button-li {
  background-color: gray;
  border-radius: 10px;
  color: black;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 10px;
}

.div-1 {
  display: flex;
}

.div-2 {
  background-color: white;
  color: black;
  width: 80%;
}

.div-3-post {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: yellow;
  display: flex;
  justify-content: center;
}
